.modal {
  display: block; /* Show the modal */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.search-btn {
  background-color: f6c666;
  color: black;
  border: 1px solid wheat;
  outline: none;
  box-shadow: none;
  border-radius: 0.3rem;
  margin-left: 1rem;
}
.search-field {
  background-color: #252525;
  color: white;
  border: 1px solid f6c666;
  outline: none;
  box-shadow: none;
}

.modal-content {
  background-color: #252525;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 1rem;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
