.completed{
    text-decoration: line-through;
    color: wheat;
}

.itemList{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   

}

.btn {
    background: #F6C666;
    border: 1px solid #F6C666;
    color: black;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: rgb(228, 228, 228);
  }
  
  .btn.btn-danger {
    border-radius: 0.3rem;
    border-color: red;
    color: black;
   
  }