.completed {
  text-decoration: line-through;
  color: wheat;
}

.del {
  color: red;
  background-color: #333;
  box-shadow: none;
  border: none;
}

.itemList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  background: #f6c666;
  border: 1px solid #f6c666;
  color: black;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: rgb(228, 228, 228);
}

.btn.btn-danger {
  border-radius: 0.3rem;
  color: black;
}

.editInput {
  outline: none;
  border: 1px solid #333;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  padding: 0.25em 0.5em;
}
